.container:hover .image {
                opacity: 0.3;
              }
              
              .container:hover .middle {
                opacity: 1;
              }
              
              body {
                font-family: "Open Sans"; /* Imported from Google fonts, needs a corresponding "link" tag in the HTML*/
                background-color:rgb(70, 245, 207); /* A HEX value that represents a purple color */
                color: white; /* Seems unintuitive, but this stands for text-color! */
            }
            #mySidenav a {
                position: absolute;
                left: -150px;
                transition: 0.3s;
                padding: 25px;
                width: 220px;
                text-decoration: none;
                font-size: 20px;
                color: white;
                border-radius: 0 50px 50px 0;
                float: right;
            }
            
            #mySidenav a:hover {
                left: 0;2
            }
            
            #projects {
                top: 50px;
                background-color: rgb(149, 243, 149);
            }
            
            #home {
                top: 250px;
                background-color:rgb(243,156,156);
            }
            
            #mystory {
                top: 150px;
                background-color: rgb(255, 241, 113);
            }
            #blog{
                display: block;
                margin-top: 3%;
                margin-left: auto;
                margin-right: auto;
                width: 30%  
            }