.container:hover .image {
                opacity: 0.3;
              }
              
              .container:hover .middle {
                opacity: 1;
              }
              
              body {
                font-family: "Open Sans"; /* Imported from Google fonts, needs a corresponding "link" tag in the HTML*/
                background-color:rgb(149, 243, 149); /* A HEX value that represents a purple color */
                color: white; /* Seems unintuitive, but this stands for text-color! */
            }
            #mySidenav a {
                position: absolute;
                left: -150px;
                transition: 0.3s;
                padding: 25px;
                width: 220px;
                text-decoration: none;
                font-size: 20px;
                color: white;
                border-radius: 0 50px 50px 0;
                float: right;
            }
            h1{
                font-size:20px;
            }
            
            #mySidenav a:hover {
                left: 0;
            }
            #mystory {
                top: 150px;
                background-color: rgb(70, 245, 207);
            }
            
            #home {
                top: 50px;
                background-color:rgb(243,156,156);
            }
            
            #blog {
                top: 250px;
                background-color: rgb(255, 241, 113);
            }
            #intune {
                display: block;
                margin-left: auto;
                margin-right: auto;
                height: 300px;
            
            }
            #bubs {
                display: block;
                margin-left: auto;
                margin-right: auto;
                height: 300px;
            
            }
            #expedia {
                display: block;
                margin-left: auto;
                margin-right: auto;
                height: 300px;
            
            }
            #braglog {
                display: block;
                margin-left: auto;
                margin-right: auto;
                height: 300px;
            
            }
            #projects{
                display: block;
                margin-top: 3%;
                margin-left: auto;
                margin-right: auto;
                width: 30% 
            }
            #intune{
                display: block;

                margin-left: 25%;
                margin-right: auto;
                float: left; /* Allows text to be to the right of the image */
                margin-right: 30px; /* Gives breathing room between image and the text */
            }
            #bubs{
                display: block;

                margin-left: 25%;
                margin-right: auto;
                float: left; /* Allows text to be to the right of the image */
                margin-right: 30px; /* Gives breathing room between image and the text */
            }
            #expedia{
                display: block;

                margin-left: 25%;
                margin-right: auto;
                float: left; /* Allows text to be to the right of the image */
                margin-right: 30px; /* Gives breathing room between image and the text */
            }
            #braglog{
                display: block;
                margin-left: 25%;
                margin-right: auto;
                float: left; /* Allows text to be to the right of the image */
                margin-right: 30px; /* Gives breathing room between image and the text */
            }
            /* #projectsdiv {
                margin-left: 25%;
                margin-right: 25%;
            } */
            #checkout-link {
                color: white; /* Text within an "a" tag automatically changes to a blue color, but we want to override that so that it will display white */
            }
            #checkout-link:hover {
                color: rgb(240, 186, 107);
            }
