/* .css-selector {
  font-family: 'Font Name', serif;
} */

/* header {
    background-color:rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
} */


/* body {
        
} */
#christin {
	display: block;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	width: 25%
	
}
#t-mob{
    display: block;
    margin-left: 1%;
    margin-right: 15px;
    float:left;
    border-radius:50%;
    width:7%;
}

#workExperience{
    display: block;
    margin-block-start: 5%
}
* {
    font-family: 'Montserrat', sans-serif;
  }
  .w100 {
    font-weight: 100;
  }
  .w200 {
    font-weight: 200;
  }
  .w300 {
    font-weight: 300;
  }
  .w400 {
    font-weight: 400;
  }
  <style>
  * {
      box-sizing: border-box;
  }
  
  body {
      font-family: Arial, Helvetica, sans-serif;
  }
  
  
  * {
    box-sizing: border-box;
}



/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background:rgb(255, 255, 255);
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color:rgb(255, 255, 255);
    height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color:lightpink;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

#tmob-link {
	color:rgb(0, 0, 0); /* Text within an "a" tag automatically changes to a blue color, but we want to override that so that it will display white */
}
#tmob-link:hover {
	color:rgb(255, 255, 255);

} 
#hercampus-link {
	color:rgb(0, 0, 0); /* Text within an "a" tag automatically changes to a blue color, but we want to override that so that it will display white */
}
#hercampus-link:hover {
	color:lightpink;

} 